@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Momon.Biju.Web.ViewModels.Products.DetailsProductViewModel

@{
    ViewBag.Title = "Detalhes";
    Layout = "_Layout";
}

@section Styles{
    <style>
        .product-details {
            min-height: 400px;
        }

        @@media (min-width: 768px) {
        .product-details {
                min-height: 600px;
            }
        }
    </style>
}

<div class="row">

    <h2 class="mb-4">@Model.Name</h2>
    
    <div class="col-md-4">
        <img src="@Model.ImageUrl" alt="@Model.Name" class="img-fluid mb-3" style="max-width: 100%;"/>
    </div>

    <div class="col-md-8 d-flex flex-column justify-content-between">
        <div>
            <p><strong>Descrição:</strong> @Model.Description</p>
            <p><strong>Preço:</strong> $@Model.Price</p>
            <p><strong>Categoria:</strong> @Model.CategoryName</p>
            <p><strong>Subcategorias:</strong> @string.Join(", ", Model.SubCategories)</p>

            <div class="row g-3 align-items-end mb-4">
                <div class="col-auto">
                    <label for="quantity" class="form-label">Quantidade:</label>
                    <input type="number" name="quantity" id="quantity" value="1" min="1" class="form-control"/>
                </div>
                <div class="col-auto">
                    <button onclick="addToCartWithQuantity('@Model.Id')" class="btn btn-submit">Adicionar ao carrinho</button>
                </div>
            </div>
        </div>

        <div class="mt-auto">
            <a asp-controller="Product" asp-action="Index" class="btn btn-outline-custom">Voltar a loja</a>
        </div>
    </div>
</div>


@section Scripts
{
    <script>
        function addToCartWithQuantity(productId) {
           let quantity = document.getElementById("quantity").value;

            addToCart(productId, quantity);
        }
    </script>
}
